---
http_interactions:
- request:
    method: post
    uri: https://stg.api.payulatam.com/payments-api/4.0/service.cgi
    body:
      encoding: UTF-8
      string: |
        <request>
          <language>es</language>
          <command>SUBMIT_TRANSACTION</command>
          <isTest>true</isTest>
          <merchant>
            <apiLogin>11959c415b33d0c</apiLogin>
            <apiKey>6u39nqhq8ftd0hlvnjfs66eh8c</apiKey>
          </merchant>
          <transaction>
            <order>
              <referenceCode>R448572833-8QA3VFY5</referenceCode>
              <description>spree order</description>
              <language>es</language>
              <signature>5fd099341277e1d030d820cf5e9ed12e</signature>
              <additionalValues>
                <entry>
                  <string>TX_VALUE</string>
                  <additionalValue>
                    <value>110</value>
                    <currency>MXN</currency>
                  </additionalValue>
                </entry>
              </additionalValues>
              <accountId>500537</accountId>
              <notifyUrl>http://demo.spreecommerce.com/pay_u/payments</notifyUrl>
              <buyer>
                <fullName>John Doe</fullName>
                <emailAddress>spree@example.com</emailAddress>
                <contactPhone>123-456-7890</contactPhone>
                <shippingAddress>
                  <street1>10 Lovely Street</street1>
                  <city>Herndon</city>
                  <state>AL</state>
                  <country>US</country>
                  <postalCode>20170</postalCode>
                  <phone>123-456-7890</phone>
                </shippingAddress>
              </buyer>
            </order>
            <creditCard>
              <number>4111111111111111</number>
              <securityCode>123</securityCode>
              <expirationDate>2014/02</expirationDate>
              <name>APPROVED</name>
            </creditCard>
            <type>AUTHORIZATION_AND_CAPTURE</type>
            <paymentMethod>VISA</paymentMethod>
            <extraParameters>
              <entry>
                <string>INSTALLMENTS_NUMBER</string>
                <string>1</string>
              </entry>
            </extraParameters>
            <deviceSessionId>065b53198c85123cb7becfe6b6bb3e38</deviceSessionId>
            <payer>
              <fullName>John Doe</fullName>
              <emailAddress>spree@example.com</emailAddress>
              <billingAddress>
                <street1>10 Lovely Street</street1>
                <street2>Northwest</street2>
                <city>Herndon</city>
                <state>AL</state>
                <country>US</country>
                <postalCode>20170</postalCode>
                <phone>123-456-7890</phone>
              </billingAddress>
            </payer>
            <ipAddress>127.0.0.1</ipAddress>
            <cookie></cookie>
            <userAgent>Mozilla/5.0 (Macintosh; Intel Mac OS X 10.9; rv:27.0) Gecko/20100101 Firefox/27.0</userAgent>
          </transaction>
        </request>
    headers:
      Content-type:
      - application/xml
  response:
    status:
      code: 200
      message: 
    headers:
      HTTP/1.1 100 Continue: []
      HTTP/1.1 200 OK: []
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"SUCCESS","error":null,"transactionResponse":{"orderId":2983180,"transactionId":"c48d17ad-1111-49a3-be28-81ed57dcd35c","state":"APPROVED","paymentNetworkResponseCode":null,"paymentNetworkResponseErrorMessage":null,"trazabilityCode":"00000000","authorizationCode":"00000000","pendingReason":null,"responseCode":"APPROVED","errorCode":null,"responseMessage":null,"transactionDate":null,"transactionTime":null,"operationDate":1393308452086,"extraParameters":null}}'
  recorded_at: Tue, 25 Feb 2014 06:07:33 GMT
recorded_with: VCR 2.8.0
