---
http_interactions:
- request:
    method: post
    uri: https://stg.api.payulatam.com/payments-api/4.0/service.cgi
    body:
      encoding: UTF-8
      string: |
        <request>
          <language>es</language>
          <command>SUBMIT_TRANSACTION</command>
          <isTest>true</isTest>
          <merchant>
            <apiLogin>11959c415b33d0c</apiLogin>
            <apiKey>6u39nqhq8ftd0hlvnjfs66eh8c</apiKey>
          </merchant>
          <transaction>
            <order>
              <referenceCode>R510531385-R7C9WKDR</referenceCode>
              <description>spree order</description>
              <language>es</language>
              <signature>9806893ec12c1ac8266c18bde35fc6a6</signature>
              <additionalValues>
                <entry>
                  <string>TX_VALUE</string>
                  <additionalValue>
                    <value>2000</value>
                    <currency>MXN</currency>
                  </additionalValue>
                </entry>
              </additionalValues>
              <accountId>500537</accountId>
              <buyer></buyer>
            </order>
            <creditCard>
              <number>4111111111111111</number>
              <securityCode>123</securityCode>
              <expirationDate>2013/12</expirationDate>
              <name>APPROVED</name>
            </creditCard>
            <type>AUTHORIZATION_AND_CAPTURE</type>
            <paymentMethod>VISA</paymentMethod>
            <extraParameters>
              <entry>
                <string>INSTALLMENTS_NUMBER</string>
                <string>1</string>
              </entry>
            </extraParameters>
          </transaction>
        </request>
    headers:
      Content-type:
      - application/xml
  response:
    status:
      code: 200
      message: 
    headers:
      HTTP/1.1 100 Continue: []
      HTTP/1.1 200 OK: []
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"code":"SUCCESS","error":null,"transactionResponse":{"orderId":2539740,"transactionId":"248af73f-5de7-4a38-b559-1891ba58bedc","state":"APPROVED","paymentNetworkResponseCode":null,"paymentNetworkResponseErrorMessage":null,"trazabilityCode":"00000000","authorizationCode":"00000000","pendingReason":null,"responseCode":"APPROVED","errorCode":null,"responseMessage":null,"transactionDate":null,"transactionTime":null,"operationDate":1386873066280,"extraParameters":null}}'
  recorded_at: Thu, 12 Dec 2013 18:31:14 GMT
recorded_with: VCR 2.6.0
